.fifth {

  .container {
    position: relative;
  }

  &__bg {
    overflow: hidden;

    &-round {
      position: absolute;
      width: 53.8125rem;
      height: 53.8125rem;
      border-radius: 50%;
      opacity: 0.1;
      top: 15.625rem;
      z-index: -1;

      &-green {
        background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
        left: -19%;
      }

      &-blue {
        background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
        left: 27%;
      }

      &-orange {
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        right: -19%;
      }
    }
  }

  &-title {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 7rem 0 4.25rem;
    text-align: center;
    margin: 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 7.625rem 7.1875rem;
    margin: 0;
    flex-wrap: nowrap;

    &-item {
      width: 31%;
      border-radius: 21.3333px;
      padding-bottom: 3.125rem;
      background: #ffffff;
      box-shadow: 0.625rem 0.625rem 3.125rem rgba(242, 153, 74, 0.1);

      &-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        padding: 2.8125rem 0 2.1875rem;
        margin: 0;
        border-radius: 21.3333px 21.3333px 0 0;
      }

      &-min {
        background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-med {
        color: #FFFFFF;
        background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
      }

      &-max {
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-price {
        font-size: 3.5rem;
        font-weight: bold;
        display: block;
        text-align: center;
        border-bottom: 1.33333px solid #F2F2F2;
        border-top: 1.33333px solid #F2F2F2;
        padding: 2.5rem 0.6875rem;
        white-space: nowrap;

        &-text {
          font-size: 2rem;
          color: #E0E0E0;
        }
      }

      &-content {
        padding: 2.5rem 0 1rem;

        &-text {
          font-size: 1.5rem;
          list-style-type: none;
          display: flex;
          padding: 0 1rem 0.8125rem;


          &:before {
            content: '\2714';
            color: #6FCF97;
            font-weight: 900;
            margin-right: 0.625rem;
          }

          &-no {
            color: #E0E0E0;

            &:before {
              content: '\2716';
              color: #E0E0E0;
              font-weight: bold;
              margin-right: 0.625rem;
            }
          }
        }
      }

      &-wrap {
        width: 20.5rem;
        margin: 0 auto;
        border-radius: 50px;
        padding: 2px;


        &-green {
          background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);

          &:hover {
            box-shadow: 4px 4px 20px rgba(111, 207, 151, 0.5);
          }
        }

        &-blue {
          background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);

          &:hover {
            box-shadow: 4px 4px 20px rgba(0, 135, 255, 0.5);
          }
        }

        &-orange {
          background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);

          &:hover {
            box-shadow: 4px 4px 20px rgba(242, 153, 74, 0.5);
          }
        }

        &-wrap2 {
          background: #ffffff;
          border-radius: 50px;

          &:hover {
            background: none;
          }
        }
      }

      &-btn {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.125rem;
        margin: 0 auto;
        background: #ffffff;
        border: none;
        width: 100%;
        border-radius: 50px;
        cursor: pointer;

        &-green {
          background: -moz-linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
          background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
          -webkit-background-clip: text;
          color: transparent;
        }

        &-blue {
          background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
          background: -o-linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
          -webkit-background-clip: text;
          -o-background-clip: text;
          -moz-background-clip: text;
          -ms-background-clip: text;
          background-clip: text;
          color: transparent;
        }

        &-orange {
          background: -webkit-linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
          background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
          background: -moz-linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
          background: -ms-linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
          background: -o-linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
          -o-background-clip: text;
          -moz-background-clip: text;
          -ms-background-clip: text;

          -webkit-text-fill-color: transparent;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }

        &:hover {
          -webkit-text-fill-color: #fff;
        }
      }
    }
  }

  .btn-free {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: $whiteColor;
    background: $bgBlueGradient;
    border-radius: 69px;
    border: none;
    padding: 1.3125rem 2.5rem;
    margin: 0 auto 8.125rem;

    &:hover {
      background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
      box-shadow: 4px 4px 20px rgba(242, 153, 74, 0.2);
    }
  }

  &__footer {

    &-line {
      background: #F2F2F2;
      height: 1.3px;
      margin: 0 5.625rem 0;

    }
  }
}

@media (max-width: 992px) {
  .fifth {
    &__bg {
      &-round {
        display: none;
      }
    }

    &-title {
      font-size: 2rem;
      padding: 0 0 1.75rem;
    }

    &-list {
      flex-direction: column;
      padding: 0;
      margin: 0 -24px;

      &-item {
        width: 100%;
        box-shadow: none;
        padding: 2.66rem 0;
        border-radius: 0;

        &-green {
          background: linear-gradient(180deg, rgba(28, 182, 177, 0.1) 0%, rgba(123, 230, 185, 0.01) 100%);
        }

        &-blue {
          background: linear-gradient(180deg, rgba(0, 208, 247, 0.1) 0%, rgba(0, 126, 238, 0.01) 100%);
        }

        &-orange {
          background: linear-gradient(180deg, rgba(255, 153, 68, 0.1) 0%, rgba(252, 96, 118, 0.01) 100%);
        }

        &-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }

        &-med {
          background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

        }

        &-title {
          font-size: 1.5rem;
          align-self: center;
          padding: 0;
          margin: 0;
          border-radius: 0;
        }

        &-price {
          font-size: 1.5rem;
          border: none;
          padding: 0;
          margin: 0;

          &-text {
            font-size: 1.16rem;
          }
        }

        &-content {

          padding: 1.33rem 0 7px;

          &-text {
            font-size: 0.916rem;
            padding: 0 2rem 0.8125rem;
          }
        }

        &-btn {
          font-size: 1rem;
        }

        &-wrap {
          width: 14.15rem;
        }
      }
    }

    .btn-free {
      display: none;
    }
  }
}