<section class="fifth" id="fifth">
	<div class="fifth__bg">
		<div class="container">
			<div class="fifth__bg-round fifth__bg-round-green"></div>
			<div class="fifth__bg-round fifth__bg-round-blue"></div>
			<div class="fifth__bg-round fifth__bg-round-orange"></div>
			
			<h2 class="fifth-title">Тарифные планы</h2>
			<ul class="fifth-list">
				<li class="fifth-list-item fifth-list-item-green ">
					<div class="fifth-list-item-wrapper">
						<h3 class="fifth-list-item-title fifth-list-item-min">Базовый</h3>
						<span class="fifth-list-item-price">25 000 ₽ <span
								class="fifth-list-item-price-text">/ мес</span></span>
					</div>
					
					<ul class="fifth-list-item-content">
						<li class="fifth-list-item-content-text">
							<strong>До 200 сертификатов в месяц</strong></li>
						
						<li class="fifth-list-item-content-text">
							Интеграция со СМЭВй
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр документов
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр сертификатов
						</li>
						
						<li class="fifth-list-item-content-text fifth-list-item-content-text-no">
							Онлайн чат
						</li>
						
						<li class="fifth-list-item-content-text fifth-list-item-content-text-no">
							Автоматический выпуск сертификатов
						</li>
						
						<li class="fifth-list-item-content-text fifth-list-item-content-text-no">
							Автозаполнение карточек компаний
						</li>
					</ul>
					
					<div class="fifth-list-item-wrap fifth-list-item-wrap-green">
						<div class="fifth-list-item-wrap-wrap2">
							<button type="button" class="fifth-list-item-btn fifth-list-item-btn-green" data-toggle="modal" data-target="#exampleModalCenter">Купить</button>
						</div>
					</div>
					<button type="button" class="fifth-list-item-btn fifth-list-item-btn-green" data-toggle="modal" data-target="#exampleModalCenter"><p>Купить</p></button>
					<button><a href="" type="button" class="fifth-list-item-btn fifth-list-item-btn-green" data-toggle="modal" data-target="#exampleModalCenter">Купить</a></button>
				</li>
				<li class="fifth-list-item fifth-list-item-blue">
					<div class="fifth-list-item-wrapper">
						<h3 class="fifth-list-item-title fifth-list-item-med">Разумный</h3>
						<span class="fifth-list-item-price">40 000 ₽ <span
								class="fifth-list-item-price-text">/ мес</span></span>
					</div>
					<ul class="fifth-list-item-content">
						<li class="fifth-list-item-content-text">
							<strong>До 1000 сертификатов в месяц</strong></li>
						
						<li class="fifth-list-item-content-text">
							Интеграция со СМЭВй
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр документов
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр сертификатов
						</li>
						
						<li class="fifth-list-item-content-text">
							Онлайн чат
						</li>
						
						<li class="fifth-list-item-content-text fifth-list-item-content-text-no">
							Автоматический выпуск сертификатов
						</li>
						
						<li class="fifth-list-item-content-text fifth-list-item-content-text-no">
							Автозаполнение карточек компаний
						</li>
					</ul>
					<div class="fifth-list-item-wrap fifth-list-item-wrap-blue">
						<div class="fifth-list-item-wrap-wrap2">
							<button type="button" class="fifth-list-item-btn fifth-list-item-btn-blue" data-toggle="modal" data-target="#exampleModalCenter">Купить</button>
						</div>
					</div>
				
				</li>
				<li class="fifth-list-item fifth-list-item-orange">
					<div class="fifth-list-item-wrapper">
						<h3 class="fifth-list-item-title fifth-list-item-max">Верховный</h3>
						<span class="fifth-list-item-price">75 000 ₽ <span
								class="fifth-list-item-price-text">/ мес</span></span>
					</div>
					<ul class="fifth-list-item-content">
						<li class="fifth-list-item-content-text">
							<strong>> 1000 сертификатов в месяц</strong></li>
						
						<li class="fifth-list-item-content-text">
							Интеграция со СМЭВй
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр документов
						</li>
						
						<li class="fifth-list-item-content-text">
							Реестр сертификатов
						</li>
						
						<li class="fifth-list-item-content-text">
							Онлайн чат
						</li>
						
						<li class="fifth-list-item-content-text">
							Автоматический выпуск сертификатов
						</li>
						
						<li class="fifth-list-item-content-text">
							Автозаполнение карточек компаний
						</li>
					</ul>
					<div class="fifth-list-item-wrap fifth-list-item-wrap-orange">
						<div class="fifth-list-item-wrap-wrap2">
							<button type="button" class="fifth-list-item-btn fifth-list-item-btn-orange" data-toggle="modal" data-target="#exampleModalCenter">Купить</button>
						</div>
					</div>
				
				</li>
			</ul>
			<button type="button" class="btn-free" data-toggle="modal" data-target="#exampleModalCenter">Попробовать бесплатно</button>
			
			<div class="fifth__footer-line"></div>
		</div>
	</div>
</section>
