.first {
  background: linear-gradient(240.07deg, #3498DB 0%, #2C3E50 100%);


  &__container {
    padding: 57px 106px 0;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 75px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 69px;
    margin-right: auto;
  }

  &__menu {
    display: flex;
    list-style: none;

    &-link {
      color: #ffffff;
      padding-right: 64px;
      text-decoration: none;

      &--free {
        color: #2E5473;
        background-color: #ffffff;
        font-weight: bold;
        border: none;
        padding: 22px 39px;
        border-radius: 69px;
      }
    }
  }

  &__main {

    &-title {
      font-weight: bold;
      font-size: 64px;
      line-height: 78px;
      color: #ffffff;

      &-little {
        font-weight: bold;
        font-size: 56px;
        line-height: 68px;
        color: #9AD7FF;
      }
    }

    &-text {
       font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
    }

    &-img {
      background-image: url("app/img/");
    }
  }
}