.first {

  &__bg {
    background: linear-gradient(240.07deg, #3498DB 0%, #2C3E50 100%);
  }

  &__header{
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 156px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 75px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 69px;
  }

  &__menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;

    &-link {
      font-size: 24px;
      color: #ffffff;
      padding-right: 64px;
      text-decoration: none;

      &--free {
        display: block;
        color: #2E5473;
        background-color: #ffffff;
        font-weight: bold;
        border: none;
        padding: 19px 39px;
        border-radius: 69px;
        white-space: nowrap;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 0 157px 0 93px;

    &-title {
      font-weight: bold;
      font-size: 64px;
      color: #ffffff;
      padding:48px 0 195px;
      margin: 0;

      &-little {
        font-weight: bold;
        font-size: 56px;
        color: #9AD7FF;
        margin: 0;
        padding: 0 0 20px 0;
      }
    }

    &-text {
       font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      margin: 0;
      padding: 0 0 304px 0;
    }

  }
}