html {
  font-size: 12px;
}

body {
   font-family: ProximaNova, sans-serif;
   font-weight: normal;
 }

*, :after, :before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

button:active, button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

//медиа запросы
@media (max-width: 992px) {

}
