html {
  font-size: 16px;
}

body {
   font-family: ProximaNova, sans-serif;
   font-weight: normal;
 }

*, :after, :before {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  padding: 0 106px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
