@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i7vzfl') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i7vzfl') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i7vzfl##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// ../fonts/icomoon/icomoon

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1 {
  &:before {
    content: $icon-1; 
  }
}
.icon-2 {
  &:before {
    content: $icon-2; 
  }
}
.icon-3 {
  &:before {
    content: $icon-3; 
  }
}
.icon-4 {
  &:before {
    content: $icon-4; 
  }
}
.icon-5 {
  &:before {
    content: $icon-5; 
  }
}
.icon-6 {
  &:before {
    content: $icon-6; 
  }
}
.icon-7 {
  &:before {
    content: $icon-7; 
  }
}
.icon-8 {
  &:before {
    content: $icon-8; 
  }
}
.icon-9 {
  &:before {
    content: $icon-9; 
  }
}
.icon-10 {
  &:before {
    content: $icon-10; 
  }
}
.icon-11 {
  &:before {
    content: $icon-11; 
  }
}
.icon-12 {
  &:before {
    content: $icon-12; 
  }
}
.icon-13 {
  &:before {
    content: $icon-13; 
  }
}

