$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;


$icon-Server: "\e921";
$icon-Union-19: "\e91f";
$icon-Union-20: "\e920";
$icon-Union-15: "\e919";
$icon-Union-13: "\e91a";
$icon-Union-14: "\e91b";
$icon-Union-16: "\e91c";
$icon-Union-17: "\e91d";
$icon-Mouse: "\e91e";
$icon-Union-7: "\e913";
$icon-Union-8: "\e914";
$icon-Union-9: "\e915";
$icon-Union-10: "\e916";
$icon-Union-11: "\e917";
$icon-Union-12: "\e918";
$icon-Union-1: "\e90d";
$icon-Union-2: "\e90e";
$icon-Union-3: "\e90f";
$icon-Union-4: "\e910";
$icon-Union-5: "\e911";
$icon-Union-6: "\e912";
$icon-1: "\e900";
$icon-2: "\e901";
$icon-3: "\e902";
$icon-4: "\e903";
$icon-5: "\e904";
$icon-6: "\e905";
$icon-7: "\e906";
$icon-8: "\e907";
$icon-9: "\e908";
$icon-10: "\e909";
$icon-11: "\e90a";
$icon-12: "\e90b";
$icon-13: "\e90c";