$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-1: "\e900";
$icon-2: "\e901";
$icon-3: "\e902";
$icon-4: "\e903";
$icon-5: "\e904";
$icon-6: "\e905";
$icon-7: "\e906";
$icon-8: "\e907";
$icon-9: "\e908";
$icon-10: "\e909";
$icon-11: "\e90a";
$icon-12: "\e90b";
$icon-13: "\e90c";

