<section class="seventh">
	<div class="popup popup-hidden">
		<div class="popup__header">
			<h2 class="popup__header-title">Спасибо за внимание<br>к нашему продукту</h2>
			<p class="popup__header-text">Оставьте свой номер телефона <br>мы обязательно вам перезвоним.</p>
		</div>
		<div class="popup__main">
			<form action="" method="post" class="popup__main-form">
				<input class="popup__main-text" placeholder="Как вас зовут?" type="text" required autofocus>
				<input class="popup__main-tel" type="tel" id="phone" required placeholder="+7 (___) ___-__-__">
				<button class="btn-free js-btn-free">Попробовать бесплатно</button>
				<button class="close-modal js-close-modal">&#10006;</button>
			</form>
		</div>
		</div>
	</div>
</section>
