@import "../../styles/custom-vars";

.first {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__bg {
    background: linear-gradient(240.07deg, #3498DB 0%, #2C3E50 100%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-weight: bold;
    background-color: $whiteColor;
    border-radius: 69px;
  }

  &__menu {
    display: flex;
    width: 74%;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    &-link {
      font-size: 1.5rem;
      color: $whiteColor;
      text-decoration: none;
      white-space: nowrap;

      &--free {
        display: block;
        color: #2E5473;
        background-color: $whiteColor;
        font-weight: bold;
        border: none;
        padding: 1.1875rem 2.5rem;
        border-radius: 69px;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-around;

    &-title {
      font-weight: bold;
      font-size: 4rem;
      color: $whiteColor;
      padding: 3rem 0 12.3rem;
      margin: 0;

      &-little {
        font-weight: bold;
        font-size: 3.5rem;
        color: #9AD7FF;
        margin: 0;
        padding: 0 0 1.16rem 0;
      }
    }

    &-text {
      font-size: 1.5rem;
      color: $whiteColor;
      margin: 0;
    }

    &-img {
     position: relative;

      &-arrow {
        position: absolute;
        left: 10%;
        top: 50%;
        transform-origin: 21% 79%;
        transform: rotate(0deg);
        margin-top: -30%;
        width: 50%;
        animation: clockArrow 60s linear infinite;
      }
    }
  }

  &__footer {
    text-align: center;

    &-btn {
      border: none;
      padding: 0;
      background: transparent;
    }
  }

  .icon-Mouse {
    font-size: 3.3rem;
    color: #C4C4C4;
    background: linear-gradient(180deg, #ecebeb 0%, #2f6287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7;
    text-decoration: none;
  }
}

@keyframes clockArrow {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}



//медиа запросы
@media (max-width: 992px) {
  .first {
    &__menu {
      display: none;
    }
    &__main-img {
      display: none;
    }
    &__footer {
      display: none;
    }
  }
}