<section class="first">
	<div class="first__bg">
		<div class="container first__container">
			<nav class="first__header"  >
				<div class="first__logo">Лого</div>
				
					<ul class="first__menu" id="menu">
						<li><a class="first__menu-link js-anchor-link" href="#second">Возможности</a></li>
						<li><a class="first__menu-link js-anchor-link" href="#fourth">Как это работает?</a></li>
						<li><a class="first__menu-link js-anchor-link" href="#fifth">Цены</a></li>
						<li><a class="first__menu-link js-anchor-link" href="#sixth">Коробочное решение</a></li>
						<li><a class=" first__menu-link first__menu-link--free" href="#">Попробовать бесплатно</a></li>
					</ul>
				
			</nav>
			
			<div class="first__main">
				<div class="first__main-info">
					<h1 class="first__main-title">Автоматизация<br>удостоверяющего центра</h1>
					<h2 class="first__main-title-little">Ваш бизнес может больше.</h2>
					<p class="first__main-text">Не теряйте время, делая рутинные операции вручную.</p>
				</div>
				<div class="first__main-img">
					<img src="img/Vector-1.svg" alt="часы">
					<img src="img/Vector-2.svg"  class="first__main-img-arrow" alt="Стрелка">
				</div>
			</div>
			<div class="first__footer">
					<a href="#second" class="first__footer-btn js-anchor-link"><span class="icon-Mouse"></span></a>
			</div>
		</div>
	</div>
</section>