@import "../../styles/custom-vars";

.first {

  &__bg {
    background: linear-gradient(240.07deg, #3498DB 0%, #2C3E50 100%);
  }

  &__header{
    display: flex;
    padding-top: 57px;
    padding-bottom: 156px;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 75px;
    font-weight: bold;
    background-color: $whiteColor;
    border-radius: 69px;
  }

  &__menu {
    display: flex;
    width: 75%;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    &-link {
      font-size: 1.5rem;
      color: $whiteColor;
      text-decoration: none;
      white-space: nowrap;

      &--free {
        display: block;
        color: #2E5473;
        background-color: $whiteColor;
        font-weight: bold;
        border: none;
        padding: 19px 39px;
        border-radius: 69px;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 0 157px 0 93px;

    &-title {
      font-weight: bold;
      font-size: 4rem;
      color: $whiteColor;
      padding:48px 0 195px;
      margin: 0;

      &-little {
        font-weight: bold;
        font-size: 3.5rem;
        color: #9AD7FF;
        margin: 0;
        padding: 0 0 20px 0;
      }
    }

    &-text {
      font-size: 1.5rem;
      color: $whiteColor;
      margin: 0;
      padding: 0 0 300px 0;
    }
  }
}