<section class="third">
	<div class="third__bg">
		<div class="container">
			
			<div class="third__header">
				<h3 class="third__header-title">Ваш бизнес может больше!</h3>
			</div>
			
			<div class="third__main">
				<div class="third__main-video">
					<video width="636" height="430" controls="controls" poster="img/Could.png">
					<source src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
					<source src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"'>
					<source src="video/video.webm" type='video/webm; codecs="vp8, vorbis"'>
				</div>
				
				<div class="third__main-capabilities">
					<h4 class="third__main-capabilities-title">Личный кабинет позволит:</h4>
					<ul class="third__main-capabilities-list">
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon">
								<span class="icon-Union-1"></span>
							</div>
							<div class="third__main-capabilities-item-content">Минимизировать временные издержки при выпуске сертификатов</div>
						</li>
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon">
								<span class="icon-Union-2"></span>
							</div>
							<div class="third__main-capabilities-item-content">Обойтись минимальными человеческими ресурсами и при этом зарабатывать больше</div>
						</li>
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon">
								<span class="icon-Union-3"></span>
							</div>
							<div class="third__main-capabilities-item-content">Выстроить партнёрскую сеть по всей РФ</div>
						</li>
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon">
								<span class="icon-Union-4"></span>
							</div>
							<div class="third__main-capabilities-item-content">Автоматизировать все рутинные операции</div>
						</li>
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon">
								<span class="icon-Union-5"></span>
							</div>
							<div class="third__main-capabilities-item-content">Избежать ошибок, связанных с человеческим фактором, благодаря продуманной автоматизации</div>
						</li>
						<li class="third__main-capabilities-item">
							<div class="third__main-capabilities-item-icon third__main-capabilities-item-icon-last">
								<span class="icon-Union-6"></span>
							</div>
							<div class="third__main-capabilities-item-content">Выпускать «облачные» сертификаты электронной подписи</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

