<section class="sixth" id="sixth">
	<div class="sixth__bg">
		<div class="container">
			<div class="sixth__main">
				<div class="sixth__main-img">
					<span class="icon-Server sixth__main-img-server"></span>
				</div>
				
				<div class="sixth__main-content">
					<h3 class="sixth__main-content-title">Коробочное решение</h3>
					<div class="sixth__main-content-title-desctop">
						<h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
						<p class="sixth__main-content-text">Функционально богатый личный кабинет администратора УЦ и
							заложенная в его архитектуру гибкость, позволит вам выстроить свой уникальный бизнес-процесс
							и полностью его контролировать.</p>
						<button class="sixth__main-content-btn" >Запросить условия</button>
					</div>
				</div>
			</div>
			<div class="sixth__main-content-title-mobile">
				<h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
				<p class="sixth__main-content-text">Функционально богатый личный кабинет администратора УЦ и
					заложенная в его архитектуру гибкость, позволит вам выстроить свой уникальный бизнес-процесс
					и полностью его контролировать.</p>
				<button class="sixth__main-content-btn">Запросить условия</button>
			</div>
		</div>
		<div class="sixth__footer-bg">
			<div class="container">
				<div class="sixth__footer-content">
					<div class="sixth__footer-content-contacts">
						<p class="sixth__footer-content-contacts-phone">8 800 555 35 35</p>
						<a href="vovan1952@kremlin.ru"
						   class="sixth__footer-content-contacts-mail">vovan1952@kremlin.ru</a>
					</div>
					<div class="sixth__footer-content-info">
						<p class="sixth__footer-content-info-firm">ООО “Страна Приливов”</p>
						<a href="#" class="sixth__footer-content-info-requisites">реквизиты</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>