.sixth {

  &__main {
    padding: 165px 116px 5px;
    display: flex;
    justify-content: space-between;

    &-img {
      width: 50%;
      font-size: 18.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      &-server {
        padding: 200px;
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        border-radius: 50%;
        opacity: 0.5;
      }
    }

    &-content {
        padding: 110px 0 0 0;
        width: 43%;

      &-title {
        font-size: 3.5rem;
        font-weight: bold;
        padding: 0 0 75px 0;
        margin: 0;

        &-mini {
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0 0 20px 0;
          margin: 0;
        }
      }

      &-text {
        font-size: 1.1625rem;
        line-height: 1.4375rem;
        padding: 0 180px 65px 0;
      }

      &-btn {
        border: none;
        font-size: 1.5rem;
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        box-shadow: 4px 4px 20px rgba(242, 153, 74, 0.2);
        color: #ffffff;
        padding: 20px 70px;
        border-radius: 50px;
      }
    }
  }

  &__footer {

    &-bg {
      background-image: url("../img/Footer-bg.png");
      padding: 305px 0 75px;
    }

    &-content {
      display: flex;
      justify-content: space-between;

      &-contacts{
        display: flex;

        &-phone {
          font-size: 1.5rem;
          padding: 0 35px 0 0;
        }

        &-mail {
          font-size: 1.5rem;
          font-weight: normal;
          color: #9AD7FF;
          text-decoration: underline;
        }
      }

      &-info {
        display: flex;

        &-firm {
          font-size: 1.5rem;
          color: #BDBDBD;
          padding: 0 35px 0 0;
        }

        &-requisites {
          font-size: 1.5rem;
          color: #9AD7FF;
          text-decoration: underline;
        }
      }
    }
  }
}