<section class="sixth" id="sixth">
	<div class="sixth__bg">
		<div class="container">
			<div class="sixth__main">
				<div class="sixth__main-img">
					<span class="icon-Server sixth__main-img-server"></span>
				</div>
				
				<div class="sixth__main-content">
					<h3 class="sixth__main-content-title">Коробочное решение</h3>
					<div class="sixth__main-content-title-desctop">
						<h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
						<p class="sixth__main-content-text">Функционально богатый личный кабинет администратора УЦ и
							заложенная в его архитектуру гибкость, позволит вам выстроить свой уникальный бизнес-процесс
							и полностью его контролировать.</p>
						<button type="button" class="sixth__main-content-btn" data-toggle="modal" data-target="#exampleModalCenter">Запросить условия</button>
					</div>
				</div>
			</div>
			<div class="sixth__main-content-title-mobile">
				<h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
				<p class="sixth__main-content-text">Функционально богатый личный кабинет администратора УЦ и
					заложенная в его архитектуру гибкость, позволит вам выстроить свой уникальный бизнес-процесс
					и полностью его контролировать.</p>
				<button type="button" class="sixth__main-content-btn" data-toggle="modal" data-target="#exampleModalCenter">Запросить условия</button>
			</div>
		</div>
		<div class="sixth__footer-bg">
			<div class="container">
				<div class="sixth__footer-content">
					<div class="sixth__footer-content-contacts">
						<a href="tel:+79319725979" class="sixth__footer-content-contacts-phone">+7 931 972 59 79</a>
						<a href="mailto:vovan1952@kremlin.ru"
						   class="sixth__footer-content-contacts-mail">info@truemark.ru</a>
					</div>
					<div class="sixth__footer-content-info">
						<p class="sixth__footer-content-info-firm">ИП Черных Геннадий Сергеевич</p>
						<a href="pdf/requisites.pdf" class="sixth__footer-content-info-requisites">реквизиты</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>