.sixth {

  &__main {
    padding: 10.3125rem 7.25rem 5px;
    display: flex;
    justify-content: space-between;

    &-img {
      width: 50%;
      font-size: 18.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      &-server {
        padding: 13rem;
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        border-radius: 50%;
        opacity: 0.5;
      }
    }

    &-content {
        padding: 6.875rem 0 0 0;
        width: 43%;

      &-title {
        font-size: 3.5rem;
        font-weight: bold;
        padding: 0 0 4.6875rem 0;
        margin: 0;

        &-mobile {
          display: none;
        }

        &-mini {
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0 0 1.25rem 0;
          margin: 0;
        }
      }

      &-text {
        font-size: 1.1625rem;
        line-height: 1.4375rem;
        padding: 0 5rem 6.5rem 0;
        margin: 0;
      }

      &-btn {
        border: none;
        font-size: 1.5rem;
        background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
        box-shadow: 4px 4px 20px rgba(242, 153, 74, 0.2);
        color: #ffffff;
        padding: 1.25rem 4.375rem;
        border-radius: 3.125rem;
      }
    }
  }

  &__footer {

    &-bg {
      background-image: url("../img/Footer-bg.png");
      padding: 18.0625rem 0 4.6875rem;
    }

    &-content {
      display: flex;
      justify-content: space-between;

      &-contacts{
        display: flex;

        &-phone {
          font-size: 1.5rem;
          padding: 0 2.1875rem 0 0;
        }

        &-mail {
          font-size: 1.5rem;
          font-weight: normal;
          color: #9AD7FF;
          text-decoration: underline;
        }
      }

      &-info {
        display: flex;

        &-firm {
          font-size: 1.5rem;
          color: #BDBDBD;
          padding: 0 2.1875rem 0 0;
        }

        &-requisites {
          font-size: 1.5rem;
          color: #9AD7FF;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .sixth {
    &__main {
      padding: 32px 0;

      &-img {
        font-size: 3.58rem;
        width: 40%;

        &-server {
          padding: 2.5rem;
        }
      }

      &-content {
        padding: 0;
        align-self: center;
        width: 55%;

        &-title {
          font-size: 2rem;
          padding: 0;

          &-mini {
            font-size: 1.16rem;
          }

          &-desctop{
            display: none;
          }

          &-mobile {
            display: block;
            padding-bottom: 46px;
          }
        }

        &-text {
          font-size: 0.916rem;
          padding: 0 0 2rem;
        }

        &-btn {
          font-size: 1rem;
          display: block;
          margin: 0 auto;
          padding: 0.75rem 2.7rem;

        }
      }
    }

    &__footer {
      &-bg {
        padding: 32px 0 30px;
        background: #FAFAFA;
      }

      &-content {
        flex-direction: column;

        &-contacts {
           justify-content: space-between;
          padding-bottom: 1.33rem;

          &-phone{
            font-size: 1.16rem;
            padding: 0;
            margin: 0;
          }

          &-mail{
            font-size: 1.16rem;
            padding: 0;
          }
        }
        &-info {
          flex-direction: column;

          &-firm {
            font-size: 1.16rem;
            margin: 0;
          }

          &-requisites {
            font-size: 1.16rem;
          }
        }
      }
    }
  }
}