.fourth {

  &__bg {
    background:  url("../img/Section-4bg.jpg") no-repeat 100%;
  }

  &__header {
    padding: 285px 0 0 0;
    margin: 0;

    &-title {
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-bottom: 25px;
    }

    &-text {
      font-size: 1.1625rem;
      text-align: center;
      margin: 0;
    }
  }

  &__main {
    padding: 0 100px 0;

    &-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #F2F2F2;
      padding: 0 90px 55px 70px;

      &-worked {
        display: flex;
        align-items: center;


        &-symbol {
          color: #000000;
          opacity: 0.05;
          font-size: 6rem;
          font-weight: bold;
          padding-right: 40px;

          &-big {
            font-size: 9rem;
          }
        }

        &-title {
          font-size: 2rem;
          font-weight: bold;
          margin: 0;
        }
      }
      &-button {
        display: flex;
      }

      &-btn {
        border: none;
        background: none;
        font-size: 2rem;
        color: #BDBDBD;
        padding: 0 0 0 40px;
        line-height: 0;

        &-active {
          background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &-scheme {
      display: flex;
      padding: 0 0 90px 0;

      &-none{
        display: none;
      }

      &-left {
        font-size: 2rem;
        padding: 240px 10px 0 20px;
        line-height: 2.5rem;
        min-width: 21%;
        position: relative;
      }

      &-center {

        &-list {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin: 0 auto;
          padding: 0;
          text-align: center;
        }

        &-icon {
          width: 50%;
          padding: 50px 0 5px 0;
          font-size: 5.125rem;
          color: #E0E0E0;
          position: relative;

          &-full{
            width: 100%;
            margin-left: 90px;
            padding: 50px 145px 5px 0px;
          }

          &-first {
            position: absolute;
            font-size: 6rem;
            top: 135px;
            left: -135px;
            background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
            opacity: 0.1;
            padding: 50px;
            border-radius: 50%;
          }

          &-last {
            position: absolute;
            font-size: 6rem;
            bottom: -40px;
            right: -145px;
            background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
            opacity: 0.1;
            padding: 50px;
            border-radius: 50%;
          }
        }

        &-text {
          font-size: 1.5rem;
          width: 50%;
          display: block;
          padding: 25px 105px 115px;
          position: relative;



          &-margin {
            margin-top: -1px;
          }

          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: 48%;
            top: -10px;
            border: 1px solid black;
            background: #F9F9F9;
          }

          &-full {
            width: 100%;
            margin-right: 90px;
            padding: 25px 115px 130px 170px;

            &:before{
              content: '';
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              left: 51%;
              top: -10px;
              border: 1px solid black;
              background: #F9F9F9;
            }
          }

          &-first {
            &:after {
              content: '';
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              left: 0;
              top: -10px;
              border: 1px solid black;
              background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
            }
          }
          &-last {
            &:after {
              content: '';
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              top: -10px;
              right: 0;
              border: 1px solid black;
              background: linear-gradient(360deg, #1CB6B1 0%, #7BE6B9 100%);
            }
          }
        }

        &-top {
          border-top: 1.2968px solid #1D1D1B;

          &-right {
            border-top-right-radius: 90px;
          }
          &-left {
            border-top-left-radius: 90px;
          }
        }

        &-bottom{
          border-bottom: 1.2968px solid #1D1D1B;

          &-left {
            border-bottom-left-radius: 90px;
          }
          &-right {
            border-bottom-right-radius: 90px;
          }
        }

        &-left {
          border-left: 1.2968px solid #1D1D1B;
        }

        &-right {
          border-right: 1.2968px solid #1D1D1B;
        }
      }

      &-right {
        font-size: 2rem;
        flex-shrink: 0;
        width: 18%;
        padding-top: 850px;
        text-align: end;
        position: relative;
      }
    }
  }
}

