.fourth {

  &__bg {
    background: #f9f9f9 url("../img/Section-4bg.jpg") no-repeat;
  }

  &__header {
    padding: 285px 0 90px 0;
    margin: 0;

    &-title {
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-bottom: 25px;
    }

    &-text {
      font-size: 1.1625rem;
      text-align: center;
      margin: 0;
    }
  }

  &__main {
    padding: 0 100px 0;

    &-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #F2F2F2;
      padding: 0 90px 80px 70px;

      &-worked {
        display: flex;


        &-symbol {
          color: #000000;
          opacity: 0.05;
          font-size: 6rem;
          font-weight: bold;
          line-height: 0;
          padding-right: 40px;

          &-big {
            font-size: 9rem;
          }
        }

        &-title {
          font-size: 2rem;
          font-weight: bold;
          margin: 0;
        }
      }
      &-button {
        display: flex;
      }

      &-btn {
        border: none;
        background: none;
        font-size: 2rem;
        color: #BDBDBD;
        padding: 0 0 0 40px;
        line-height: 0;

        &-active {
          background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &-scheme {
      height: 500px;
    }
  }
}