<section class="fourth">
	<div class="fourth__bg">
		<div class="container">
			<div class="fourth__header">
				<h2 class="fourth__header-title">Выпуск сертификата через ЛК ГУЦ</h2>
				<p class="fourth__header-text">Наша автоматизированная система аттестована по требованиям безопасности персональных данных.</p>
			</div>
			
			<div class="fourth__main">
				<div class="fourth__main-header">
					<div class="fourth__main-header-worked">
						<span class="fourth__main-header-worked-symbol">?</span>
						<span class="fourth__main-header-worked-symbol fourth__main-header-worked-symbol-big">?</span>
						<span class="fourth__main-header-worked-symbol">?</span>
						<h3 class="fourth__main-header-worked-title">Как это работает?</h3>
					</div>
					
					<div class="fourth__main-header-button">
						<button class="fourth__main-header-btn">Для клиента</button>
						<button class="fourth__main-header-btn fourth__main-header-btn-active">Для партнера</button>
					</div>
				</div>
				
				<div class="fourth__main-scheme">
				
				</div>
			</div>
		</div>
	</div>
</section>