<section class="fourth">
	<div class="fourth__bg">
		<div class="container">
			<div class="fourth__header">
				<h2 class="fourth__header-title">Выпуск сертификата через ЛК ГУЦ</h2>
				<p class="fourth__header-text">Наша автоматизированная система аттестована по требованиям безопасности персональных данных.</p>
			</div>
			
			<div class="fourth__main">
				<div class="fourth__main-header">
					<div class="fourth__main-header-worked">
						<span class="fourth__main-header-worked-symbol">?</span>
						<span class="fourth__main-header-worked-symbol fourth__main-header-worked-symbol-big">?</span>
						<span class="fourth__main-header-worked-symbol">?</span>
						<h3 class="fourth__main-header-worked-title" id="fourth">Как это работает?</h3>
					</div>
					
					<div class="fourth__main-header-button">
						<button class="fourth__main-header-btn">Для клиента</button>
						<button class="fourth__main-header-btn fourth__main-header-btn-active">Для партнера</button>
					</div>
				</div>
				
				<div class="fourth__main-scheme ">
					
					<div class="fourth__main-scheme-left">
						
						Клиент регистрируется в кабинете
					</div>
					
					<div class="fourth__main-scheme-center">
						<ul class="fourth__main-scheme-center-list">
							<li class="fourth__main-scheme-center-icon"><span class="icon-Union-19 fourth__main-scheme-center-icon-first"></span><span class="icon-Union-7"></span></li>
							<li class="fourth__main-scheme-center-icon"><span class="icon-Union-8"></span></li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-first fourth__main-scheme-center-top">Выбирает удобную для него точку выдачи</li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-top fourth__main-scheme-center-top-right fourth__main-scheme-center-right">Выбирает области действия сертификата</li>
							<li class="fourth__main-scheme-center-icon"><span class="icon-Union-9"></span></li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-bottom fourth__main-scheme-center-bottom-right fourth__main-scheme-center-right"><span class="icon-Union-10"></span></li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-margin fourth__main-scheme-center-top fourth__main-scheme-center-top-left fourth__main-scheme-center-left">Прикрепляет документы</li>
							<li class="fourth__main-scheme-center-text">Ему автоматически выставляется счёт</li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-left fourth__main-scheme-center-bottom-left fourth__main-scheme-center-bottom"><span class="icon-Union-11"></span></li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-bottom fourth__main-scheme-center-icon-lat"><span class="icon-Union-20 fourth__main-scheme-center-icon-last"></span><span class="icon-Union-12"></span></li>
							<li class="fourth__main-scheme-center-text">Приходит к вам или вашему партнёру для установления личности и передачи документов</li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-last">Генерирует ключи и запрос на сертификат</li>
						</ul>
					</div>
					
					<div class="fourth__main-scheme-right">
						УЦ выпускает сертификат
					</div>
				</div>
				
				
				<div class="fourth__main-scheme fourth__main-scheme-none">
					
					<div class="fourth__main-scheme-left">
						Создаёте учётную запись партнёра в кабинете
					</div>
					
					<div class="fourth__main-scheme-center ">
						<ul class="fourth__main-scheme-center-list">
							<li class="fourth__main-scheme-center-icon"><span class="icon-Union-19 fourth__main-scheme-center-icon-first"></span><span class="icon-Union-13"></span></li>
							<li class="fourth__main-scheme-center-icon"><span class="icon-Union-14"></span></li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-first fourth__main-scheme-center-top">Партнёр назначает уполномоченных сотрудников</li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-top fourth__main-scheme-center-top-right fourth__main-scheme-center-right">Эти сотрудники добавляют клиентов в кабинете</li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-icon-full fourth__main-scheme-center-bottom fourth__main-scheme-center-bottom-right fourth__main-scheme-center-right"><span class="icon-Union-15"></span></li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-full fourth__main-scheme-center-text-margin fourth__main-scheme-center-top fourth__main-scheme-center-top-left fourth__main-scheme-center-left">Удостоверяют личность и принимают оригиналы документов</li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-left fourth__main-scheme-center-bottom-left fourth__main-scheme-center-bottom"><span class="icon-Union-16"></span></li>
							<li class="fourth__main-scheme-center-icon fourth__main-scheme-center-bottom "><span class="icon-Union-20 fourth__main-scheme-center-icon-last"></span><span class="icon-Union-17"></span></li>
							<li class="fourth__main-scheme-center-text">Подписывают своей электронной подписью этот факт</li>
							<li class="fourth__main-scheme-center-text fourth__main-scheme-center-text-last">Клиент генерирует ключи и запрос на сертификат</li>
						</ul>
					</div>
					
					<div class="fourth__main-scheme-right">
						УЦ выпускает сертификат
					</div>
				</div>
			</div>
		</div>
	</div>
</section>