.second {


  &__bg {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 74.75rem;
      height: 74.75rem;
      top: -12%;
      left: 50%;
      background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
      z-index: -1;
    }

  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 7.5rem 0 9.375rem 4.375rem;

    &-info {
      padding-top: 5.625rem;
      padding-left: 2rem;
    }

    &-title {
      font-weight: bold;
      font-size: 3.5rem;
      padding: 3rem 0 7.8125rem 0;
      margin: 0;
    }

    &-img {
      width: 65.3125rem;
      flex-shrink: 0;
      position: relative;
    }
  }

  &__main {
    padding: 0 4.875rem 8rem;

    &-line {
      background: #F2F2F2;
      height: 1.3px;
      margin: 0 1.3125rem 0;
    }
  }
  .feature {

    &__list {
      margin: 0;
      padding: 0 0 2.6875rem 0;
    }

    &__item {
      list-style: none;
      display: flex;
      padding-bottom: 1.875rem;

      &-icon {
        font-size: 5rem;
        color: #9AD7FF;
        display: block;
        width: 7.8125rem;
      }

      &-content{

      }

      &-title {
        font-weight: bold;
        font-size: 1.5rem;
        color: #2C3E50;
        margin: 0;
        padding-bottom: 1.25rem;

        &-small {
          font-size: 1.15rem;
        }
      }

      &-text {
        font-weight: normal;
        font-size: 1.16rem;
        line-height: 1.4375rem;
        color: #2E5473;
        margin: 0;
        max-width: 32.5rem;
        padding-bottom: 2.5rem;
      }
    }
  }

  .btn-free {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: $whiteColor;
    background: $bgBlueGradient;
    border-radius: 69px;
    border: none;
    padding: 1.3125rem 2.5rem;
    box-shadow: 4px 4px 20px rgba(0, 135, 255, 0.2);
    margin: 0 auto;
  }


}


@media (max-width: 992px) {
  .second {
    display: none;
    &__bg:before {
      display: none;
    }
    &__header {
      &-img {
        display: none;
      }
    }
  }
  .feature__item {
    flex-direction: column;
  }
}